//
// Contact Menu
//

.contact-menu {
    display: flex;
    justify-content: center;
    margin: 0 -5px;

    li {
        margin: 0 5px;
    }
    a {
        display: block;
        opacity: 0.8;
        padding: 5px;
        transition: opacity .3s;
    }
    a:hover {
        opacity: 1;
    }
    img {
        max-height: 20px;
    }
}
