.app {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;

    .badge-form {
        margin-right: 20px;
        width: 66.6%;
    }
    .badges,
    .no-badges {
        width: 33.3%;
    }
}

//
// Badge Display
//

.badge {
    border-radius: 2px;
    margin-bottom: 10px;
}
.badge ul {
    background: #fff;
    border: 1px solid #ddd;
    list-style: none;
    margin: 0;
    padding: 20px 30px;
    width: 100%;
}
.no-badges {
    background: #eee;
    border: 2px dashed #ddd;
    padding: 50px;
    text-align: center;
}

//
// Form
//

h2 {
    font-size: 20px;
}
.badge-form {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 40px;
}
.btn {
    background-color: #101010;
    color: #fff;

    &:hover,
    &:focus {
        background-color: #000;
        color: #fff;
    }
}
