* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
.row {
    margin: 5px auto;
    max-width: 800px;
}
.column {
    margin-bottom: 1px;
    padding: 5px;
}
.column > .wrap {
    height: 100px;
}
@media (min-width: 768px) {
    .column {
        float: left;
        margin: 0;
    }
    .column-3 {
        width: 25%;
    }
    .column-6 {
        width: 50%;
    }
    .column-9 {
        width: 75%;
    }
    .column-12 {
        width: 100%;
    }
}

/* Colors */
.pink {
    background-color: #f5c6d6;
}
.hot-pink {
    background-color: #ee2e84;
}
.blue {
    background-color: #85cfd8;
}
.green {
    background-color: #8dc63f;
}
.orange {
    background-color: #e76e34;
}
