@font-face {
    font-family: 'Julius Sans One';
    src: url('../font/JuliusSansOne-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('../font/LibreBaskerville-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('../font/LibreBaskerville-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('../font/LibreBaskerville-Italic.ttf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'verdemoderna';
	src: url('../font/verdemoderna.eot');
	src: url('../font/verdemoderna.eot?#iefix') format('embedded-opentype'),
		 url('../font/verdemoderna.woff') format('woff'),
		 url('../font/verdemoderna.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
