* {
    box-sizing: border-box;
}
body,
ul,
ol,
h1,
h2,
h3,
h4,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* General */
body {
    background: #f8f8f8;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
h1, h2, h3, h4 {
    color: #333;
    font-family: 'Gothic A1';
    font-weight: 500;
}

/* Header */
.app-header {
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Logo */
.app-logo {
    display: flex;
    align-items: center;
}
.app-logo img {
    width: 60px;
    height: 60px;
}
.app-logo h1 {
    color: #fff;
    font-size: 24px;
    line-height: 1;
}

/* Navbar */
.app-nav ul {
    display: flex;
    padding: 0 20px;
}
.app-nav a {
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 8px 12px;
    text-decoration: none;
}
.app-nav a:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Hero */
.app-hero {
    background: #101010;
    position: relative;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.app-hero .hero-content {
    color: #fff;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.app-hero h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}
.app-hero p {
    font-size: 18px;
}
.app-hero img {
    display: block;
    opacity: 0.6;
    width: 100%;
    height: auto;
}

/* Content */
.app-content {
    padding: 80px 50px;
}
.app-content .wrap {
    margin: 0 auto;
    max-width: 960px;
}
.app-content .intro {
    margin: 0 auto 50px auto;
    max-width: 500px;
    text-align: center;
}
.app-content h3 {
    font-size: 28px;
    margin-bottom: 10px;
}
.app-content .box-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}
.app-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Footer */
.app-footer {
    background: #101010;
    color: #ccc;
    font-size: 14px;
    padding: 40px;
    text-align: center;
}
