<ul class="contact-menu">
    <li>
        <a href="http://twitter.com/doesnothing" title="Twitter" target="_blank">
            <img src="../../svg/twitter-fff.svg" alt="Twitter Icon">
        </a>
    </li>
    <li>
        <a href="http://facebook.com/doesnothing" title="Facebook" target="_blank">
            <img src="../../svg/facebook-fff.svg" alt="Facebook Icon">
        </a>
    </li>
    <li>
        <a href="http://instagram.com/doesnothing" title="Instagram" target="_blank">
            <img src="../../svg/instagram-fff.svg" alt="Instagram Icon">
        </a>
    </li>
    <li>
        <a href="http://github.com/doesnothing" title="GitHub" target="_blank">
            <img src="../../svg/github-fff.svg" alt="GitHub Icon">
        </a>
    </li>
</ul>
