body {
    background: #f2f2f2;
}
.app {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;

    h1 {
        color: #333;
        font-size: 30px;
        margin-bottom: 20px;
    }
}
