table {
    border-collapse: collapse;
    font-family: arial;
    font-size: 14px;
    margin: 0 auto;
    text-align: left;
    width: 500px;
}
th,
td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
th {
    background-color: #101010;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: #f8f8f8;
}
